<nav>
  <ul>
    <li><a [routerLink]="['']">Home</a></li>
    <li><a [routerLink]="['signup']">S'inscrire</a></li>
    <li><a [routerLink]="['user']">Utilisateur</a></li>
    <li><a [routerLink]="['block']">Block</a></li>
    <li><a [routerLink]="['admin']">Admin</a></li>
    <li><a [routerLink]="['searchmovies']">Reactive Form</a></li>
    <li><a [routerLink]="['input']">Input</a></li>
    <li><a [routerLink]="['onomatopia']">Onomatopé</a></li>
    <li><a [routerLink]="['cocktail']">Cocktail</a></li>
  </ul>
</nav>
